<!DOCTYPE html>
<html>

<head th:replace="head"></head>

<body th:classappend="${page} != 'home' ? 'sub_page' : ''">
  <div th:if="${page}=='home'" class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <header th:replace="header"></header>
    <section th:replace="slide"></section>
  </div>
  <div th:if="${page}!='home'" class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <header th:replace="header"></header>
  </div>
  <section th:replace="${page}"> </section>
  <footer th:replace="footer"></footer>
  <script th:replace="scripts"></script>
</body>

</html>